.account {
    display: flex;
}

.avatar {
    text-align: left;
    width: 50%;
    background: blue;
}

.avatar img {
    padding: 1.5rem;
    border-radius: 50%;
    max-width: 55%;
}

.adminWrapper {
    position: relative;
    margin-bottom: 0.5rem;
}

.adminControls {
    display: flex;
    z-index: 45;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.adminControls div {
    margin: 0 0.75rem;
}