.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 100%;
    background: blue;
}

.avatar img {
    max-width: 50%;
}

.adminWrapper {
    position: relative;
    margin-bottom: 0.5rem;
}

.adminControls {
    display: flex;
    z-index: 45;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.adminControls div {
    margin: 0 0.75rem;
}