/*
===========================
    profile.js children
===========================
*/

.tabHeader {
    padding: 0.8rem 0.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid grey;
}


/*
=========================    
    upcomingEvents.js
=========================
*/
.adminWrapper {
    position: relative;
    margin-bottom: 0.5rem;
}

.eventdate {
    /* color: aqua; */
    background-color: rgba(0, 255, 0, 0.7);
    font-weight: bolder;
    padding: 0.5rem;
    z-index: 45;
    position: absolute;
    top: 0;
    left: 0;
}

.adminControls {
    display: flex;
    z-index: 45;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.adminControls div {
    margin: 0 0.75rem;
}

.tabIcon {
    color: rgb(0, 255, 0)
}