.eventWrapper {
    max-width: 100%;
    /* background-color: red; */
}

.singleEvent {
    padding: 1.5rem 0;
}

.datetimeInfo {
    padding: 0 0 0.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eventWrapper {
    width: 100vw;
    height: auto;
}

.eventWrapper img {
    width: 100%;
}

.upcomingHeader {
    padding: 0.75rem 0;
    width: 100%;
    border-top: 1px dotted black;
    /* background: coral; */
}