.eventLine {
    width: 100%;
    padding: 0.5rem 0.5rem 1rem;
    /* background-color: blue; */
    /* border: solid 1px black; */
    border-bottom: dotted 1px rgb(3, 71, 3);
}

.eventtitleandcontrols {
    display: flex;
    justify-content: space-between;
}

.adminControls {
    padding: 0.25rem;
}

.adminControls span {
    padding: 0.5rem;
}

.trashcan {
    color: rgb(117, 6, 6);
}

.eventDetails {
    padding: 0.25rem 0.5rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.location {
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    
}