.calendar {
  width: 100%;
}

.calendar h1 {
    font-size: 3.6rem;
    padding: 1rem;
}

.weeks {
  /* width: 100%; */
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .weeks:nth-child(odd) {
  background-color: blue;
}

.weeks:nth-child(even) {
  background-color: green;
} */

.daywrapper {
  width: 100%;
}

.fourWeek {
  height: 24vh;
}

.fiveWeek {
  height: 18vh;
}

.sixWeek {
  height: 15.5vh
}

