.days {
  width: 100%;
  /* min-height: 10rem; */
  padding: 0.25rem;
  /* border: 1px solid black; */
}

.dateHeader {
    padding: 0.25rem;
    /* width: 90%; */
    border-bottom: 1px solid black;
    text-align: left;
}

.days .eventCard:last-child {
    border-bottom: none;
}

