.contactWrapper {
    padding: 0.75rem 0;
    text-align: left;
    width: 100%;
}

.contacts {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts p {
    margin-left: 1rem;
}