.header {
    position: relative;
    width: 100%;
    height: var(--headerHeight);
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
}

.branding {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.menu {
    transform: rotate(90deg);
}

@keyframes slidedown {
    from {height: 0;}
    to {height: 30rem;}
}

.menubar {
    position: absolute;
    height: 0;
    top: var(--headerHeight);
    left: 0;
    right: 0;
    animation-name: slidedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* bottom:0; */
    background: white;
}

.inactive {
    display: none;
}