.userDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile {
    padding: 1rem 0;
}

.username {
    align-self: flex-start;
    padding-left: 0.2rem;
    font-weight: bold;
    text-align: left;
}