.userDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile {
    padding: 1rem 0;
}

.userAvatar {
    position: relative;
    width: 200px;
    height: auto;
}

.username {
    align-self: flex-start;
    padding-left: 0.2rem;
    font-weight: bold;
    text-align: left;
}

.userAvatar img {
    border-radius: 50%;
    max-width: 100%;
}

#userAvatarEdit {
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: green;
    background-color: rgba(255,255,255,0.8);
}

.contacts {
    padding: 0.9rem 0 0.5rem;
    width: 100%;
}

.user_email, .user_instagram {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_email p {
    margin-left: 1rem;
}