.contactWrapper {
    padding: 0.5rem;
    text-align: left;
    width: 100%;
}

.sendContact {
    padding: 0.5rem;
}

.add_instagram {
    padding: 0.5rem;
}

.add_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add_button p {
    margin-left: 1rem;
}

.addCheckBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addCheckBox input {
    width: auto;
    margin: 0;
}

.addCheckBox label {
    margin-left: 1rem;
    text-transform: none;
}

.instagramInput, .facebookInput {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inputWrapper input {
    width: 100%;
    margin-left: 0.2rem;
}