.loginWrapper {
    height: 100%;
}

.loginWrapper h2 {
    padding: 1.5rem 0;
}

.loginform {
    height: 50%;
    width: 100%;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

