/*
=========================
    creatorSection.js
=========================
*/
.creatorSection {
    border: 0.2rem solid purple;
    padding: 0.8rem 0;
}


.createNewEvent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    border-top: solid 0.05rem black;
    border-bottom: solid 0.05rem black;
}


/*
=========================
    upcomingEvents.js
=========================
*/
.upcomingEvents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    border-top: solid 0.05rem black;
    border-bottom: solid 0.05rem black;
}